/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
/* ---------------------
    Header Start Here 
-----------------------*/
header {
  background-color: #5025a0;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.slider-area {
  height: 590px;
}
.slider-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 346px;
  place-items: center;
  padding-top: 50px;
}
.slider-text h1 {
  font-family: "Poppins", sans-serif;
  color: #ebe8e8;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}
.slider-text:hover h1 {
  transform: scale(1.4);
  transition: all 1.3s;
}
.anchor-button {
  text-decoration: none;
  background: linear-gradient(88.33deg, #e02c6d -7.64%, #ff1e1e 145.94%);
  padding: 13px 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: white;
}
.anchor-button i {
  margin-left: 19px;
}
.slider-content #slide-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
#slide-image img {
  width: 450px;
  height: 350px;
}

#slide-image:hover img {
  transform: scale(1.4);
  transition: all 1.3s;
}
/* ---------------------
    Main Start Here 
-----------------------*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  padding: 30px;
  border-radius: 5px;
  margin-top: 21px;
  width: 1150px;
}
/* Players Details Start Here*/
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}
.player {
  background-color: white;
  padding: 15px;
  width: 330px;
  height: 470px;
  box-shadow: 1px 7px 10px grey;
  border-radius: 2px;
}
.player .player-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-title {
  font-size: 28px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}
.player-info {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}
.player .player-banner img {
  width: 330px;
  height: 265px;
}
/* ---------------------
    Hightlight Start Here 
-----------------------*/
.highlights-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.highlight-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding-top: 50px;
  padding-left: 130px;
}
.highlight-text h1 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}
.highlight-text p {
  margin-bottom: 24px;
  color: #6c6c6c;
}
.highlight-content .highlight-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlight-content #highlight-image img {
  width: 567px;
  height: 427px;
  border-radius: 2px;
}
/* ---------------------
    Featured Start Here
-----------------------*/
.featured-area {
  margin-top: 124px;
}
.featured-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.featured {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.photo-frame {
  position: relative;
}
.photo-frame .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 30px rgba(190, 190, 190, 0.5);
}
.photo-frame .photo img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.photo-frame:hover .photo {
  transform: scale(1.3) skew(-30deg);
  transition: transform 2s ease-in-out;
}

/* ---------------------
    Contact Start Here 
-----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
.contact-area {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.contact-image img {
  width: 67%;
  height: 400px;
  border-radius: 5px;
}
.contact-form {
  position: relative;
  text-align: center;
  padding: 0px 50px;
  border-radius: 10px;
  margin-left: 40px;
}
.contact-form h1 {
  font-size: 2em;
  border-left: 5px solid #e02c6d;
  padding: 10px;
  color: rgb(0, 0, 0);
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
  font-family: "Sansita Swashed", cursive;
}
.contact-form .inputbox {
  position: relative;
  color: rgb(12, 12, 12);
  width: 300px;
  height: 50px;
  margin-bottom: 15px;
}
.contact-form .inputbox input {
  position: absolute;
  color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
}
.contact-form .inputbox:last-child {
  margin-bottom: 0;
}
.contact-form .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.contact-form .inputbox input:focus ~ span,
.contact-form .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.contact-form .inputbox [type="button"] {
  width: 50%;
  background: linear-gradient(88.33deg, #e02c6d -7.64%, #ff1e1e 145.94%);
  color: rgb(0, 0, 0);
  border: rgb(0, 0, 0);
}

/* ---------------------
    Footer Start Here 
-----------------------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content .footer-logo img {
  width: 483.87px;
  height: 110px;
  margin-top: 158px;
}
.footer-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.footer-social-links-icon {
  text-align: center;
  font-size: 16px;
  color: #a7a7a7;
  width: 46px;
  height: 32px;
  background-color: #ebe8e8;
  border-radius: 55px;
  padding-top: 14px;
  margin-left: 11px;
}
.copyright {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 63px;
  font-size: 18px;
}

/* ---------------------
    Media Queries 
-----------------------*/

/* Mobile Devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .slider-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .slider-area {
    height: 1000px;
  }
  #slide-image img {
    width: 450px;
    height: 350px;
    margin-top: 100px;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  .highlight-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .highlight-content #highlight-image img {
    width: 567px;
    height: 427px;
    border-radius: 2px;
    margin-top: 70px;
  }
  .featured {
    grid-template-columns: repeat(1, 1fr);
  }
  .featured-image img {
    width: 99%;
  }
  .contact-area {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    padding-left: 100px;
  }
}
/* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .slider-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .slider-area {
    height: 1000px;
  }
  #slide-image img {
    width: 450px;
    height: 350px;
    margin-top: 100px;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .highlight-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .highlight-content #highlight-image img {
    width: 567px;
    height: 427px;
    border-radius: 2px;
    margin-top: 70px;
  }
  .featured {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-area {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    padding-left: 100px;
  }
}
